@import "normalize.less";
@import "util";

@desertColor: #EDD8AC;

@skyColor: #89BDDE;
@sunsetColor: #d35400;
@nightColor: #11114c;

@roadColor: #555555;
@roadEdge: lighten(@roadColor, 20%);
@cloudColor: #ecf0f1;

@signColor: #e74c3c;
@signYellow: #f1c40f;
@signBlue: #2980b9;
@poleColor: #bdc3c7;
@poleShadow: darken(@poleColor, 20%);

@sunColor: #f1c40f;

/* base */
@perspective: 1000px;
@displayWidth: 1280px;
@displayHeight: 720px;

@groundPosition: 300px;
@centerX: @displayWidth /2 + 250px;
@centerY: @displayHeight/2;
/* road */

@roadWidth: 2000px;
@roadHeight: 2000px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.screen__fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eeeeee;
}

.screen__abs {
  position: absolute;
  top: 50%;
  left: 50%;
}

.screen__view {
  margin-left: -@displayWidth /2;
  margin-top: -@displayHeight/2;
  height: @displayHeight;
  width: @displayWidth;
  perspective: @perspective + 50px;
  transform-origin: left top;
  transform-style: preserve-3d;
  overflow: hidden;
  position: relative;
  background-color: @desertColor;
}

body {
  background-color: #eeeeee;
}

.perspective {
  transform-style: preserve-3d;
  transform-origin: left top;
  transform: translate3d(@centerX, @centerY, -1200px);  // -@perspective
  .my-transition;
  > * {
    position: absolute;
  }
}

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -@displayWidth / 2;
  margin-top: -@displayHeight / 2;
  width: @displayWidth;
  height: @displayHeight;
  overflow: hidden;
  background-color: @desertColor;
  perspective: @displayWidth;
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: left top;
}

/* road */
.road-first,
.road-middle,
.road-last{
  width: @roadWidth;
  height: @roadHeight;
  background-color: @roadColor;
  border-width: 0 20px;
  border-style: solid;
  border-color: @roadEdge;

}
.road-middle {
  transform-origin: top center;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 0px;
    width: 50px;
    height: @roadHeight;
    background-color: @cloudColor;

  }
  &:before {
    right: 50px;
  }
  &:after {
    left: 50px;
  }
  .line {
    width: 50px;
    height: @roadHeight/2;
    background-color: @cloudColor;
    margin: auto;
  }
}

.generate-road(20);

.road-first {
  .line {
    border-right: 50px solid @cloudColor;
    border-top: 100px solid @cloudColor;
    color: @cloudColor;
    padding: 100px;
    font-size: 250px;
    margin-left: 50px;
    margin-top: 500px;
    width: @roadWidth / 2 - 45px;
    height: @roadHeight/4;
    font-weight: bold;
    font-family: Verdana, serif;
  }
}
.road--pos0 {
  transform-origin: top left;
  transform: translate3d(-@roadWidth/2, @groundPosition, 0px) rotateX(90deg);
}

.road-last {
  border-radius: 0 0 10% 10%;
  .credit {
    transform-origin: center center;
    transform: translate(700px, 0px) rotate(145deg);
    position: absolute;
    p {
      text-align: center;
      font-size: 120px;
      color: @cloudColor;
      font-weight: bold;
      font-family: "Comic Sans MS";
    }
  }
}

.road--pos21 {
  transform-origin: top center;
  transform: translate3d(-@roadWidth/2, @groundPosition, -@roadHeight * 20) rotateX(-90deg) rotateY(180deg);
}

.arrow{
  right: 450px;
  top:0;
  position: absolute;
  width: 100px;
  height: 1000px;
  opacity: 0;
  .my-transition();
  &:before {
    width: 50px;
    height: 500px;
    background-color: @cloudColor;
    content: '';
    display: block;
  }
  &:after {
    border-style: solid;
    border-color: @cloudColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 500px 50px 0;
    content: '';
    display: block;
    transform: translate(-25px, 0px);
  }
}
.arrow--visibility1 {
  opacity: 1;
}
/* sign */

@signRadius: 150px;
@poleHeight: 1200px;
@shadowWidth: 20px;
.sign {

  width: @signRadius*2;
  height: @poleHeight;
  > * {
    position: absolute;
  }

  .pole {
    width: 0;
    height: @poleHeight;
    border-left: 20px solid @poleColor;
    border-right: 20px solid @poleShadow;
    transform: translate(@signRadius - 20px, 0px);
  }
}
.closed-sign {
  .circle {
    border-radius: 50%;
    background-color: white;
    .width-and-height(@signRadius*2 - @shadowWidth*2);
    border: 40px solid @signColor;
    box-shadow: white 0 0 0 @shadowWidth;
    transform: translate(@shadowWidth, @shadowWidth);
    &:before, &:after {
      position: absolute;
      width: @signRadius*2 - @shadowWidth*2 - 40px;
      height: 20px;
      content: '';
      background-color: @signColor;
    }
    &:before {
      transform: translate(-20px,@signRadius - @shadowWidth - 40px - 10px) rotate(30deg);
    }
    &:after {
      transform: translate(-20px,@signRadius - @shadowWidth - 40px - 10px) rotate(-30deg);
    }
  }

}

.stop-sign {
  .circle {
    border-radius: 50%;
    .width-and-height(@signRadius*2);
    background-color: @signColor;
    border: 20px solid white;
    &:before {
      width: 200px;
      height: 50px;
      background-color: white;
      transform: translate(130px - 100px,130px - 25px);
      content: '';
      position: absolute;
    }
  }
}

.dead-sign {
  .square {
    .width-and-height(@signRadius*2);
    border-radius: 10%;
    background-color: @signYellow;
    border: @shadowWidth solid black;
    box-shadow: @signYellow 0 0 0 @shadowWidth;
    transform: translate(@shadowWidth + @signRadius - 20px, @shadowWidth) rotate(45deg);
    transform-origin: top left;
    &:before {
      content: 'DEAD \A END';
      color: black;
      white-space: pre;
      font-size: 70px;
      .width-and-height(@signRadius*2 - @shadowWidth * 2);
      transform: translate(0,0) rotate(-45deg);
      position: absolute;
      text-align: center;
      padding: 50px 0;
      font-weight: bold;
    }
  }
}

.park-sign {
  .square {
    .width-and-height(@signRadius*2);
    border-radius: 10%;
    background-color: @signBlue;
    border: @shadowWidth solid white;
    box-shadow: @signBlue 0 0 0 @shadowWidth;
    transform: translate(0, @shadowWidth);
    &:before {
      content: 'P';
      color: white;
      font-size: 220px;
      text-align: center;
      display: block;
      font-weight: bold;
    }
  }
}

.sign--pos1 {
  transform-origin: top center;
  transform: translate3d(@roadWidth/2 - @signRadius + 150px, @groundPosition - @poleHeight, -@roadHeight*7);
}

.sign--pos2 {
  transform-origin: top center;
  transform: translate3d(@roadWidth/2 - @signRadius + 150px, @groundPosition - @poleHeight, -@roadHeight*12);
}

.sign--pos3 {
  transform-origin: top center;
  transform: translate3d(@roadWidth/2 - @signRadius + 150px, @groundPosition - @poleHeight, -@roadHeight*17);
}

.sign--pos4 {
  transform-origin: top center;
  transform: translate3d(@roadWidth/2 - @signRadius + 150px, @groundPosition - @poleHeight, -@roadHeight*2);
}
/* board */
@boardColor: darken(#27ae60, 20%);
@frameColor: darken(#2c3e50, 10%);
@boardWidth: 300px;
@boardHeight: 600px;
.signboard {
  width: @boardWidth;
  height: 600px;
  position: relative;
  .pole() {
    position: absolute;
    width: 20px;
    height: 600px;
    background: @frameColor;
  }
  .signboard__pole--left{
    .pole();
    left: 0px;
  }
  .signboard__pole--right{
    .pole();
    right:0px;

  }
  .signboard__board {
    width: @boardWidth;
    height: @boardHeight - 150px;
    border: 20px solid @frameColor;
    background-color: @boardColor;
    font-family: "Courier";
    h2 {
      font-size: 65px;
      margin: 30px 0;
      color: @cloudColor;
      text-align: center;
    }
    p {
      font-size: 45px;
      color: @cloudColor;
      margin: 30px;
      text-align: left;
      font-weight: bold;
    }
  }
}
.signboard--pos {
  transform: translate3d(-@roadWidth/4 - @boardWidth/2, @groundPosition - @boardHeight, -@roadHeight * 21 - 50px);
}


.sky {
  position: absolute;
  height: @displayHeight/2;
  width: @displayWidth;
  background-color: @skyColor;
  overflow: hidden;
  .my-transition;

}

.sun {
  transform-origin: top left;
  transform: translate(@displayWidth /2 - 150px - 320px, @displayHeight /2 - 150px - 320px) scale(0.5) ;
  position: absolute;
  .my-transition;


  &__inner {
    width: 400px;
    height: 400px;
    transform-origin: center center;
    animation-name: rotate-sun;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    > * {
      position: absolute;
    }

    .generate-sun-bar(8);
  }
  &__bar {
    width: 30px;
    height: 200px;
    left: 185px;
    transform-origin: bottom center;
    &:after {
      position: absolute;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: @sunColor;
      border-width: 0 15px 80px;
      width: 0;
      height: 0;
      content: '';
      .my-transition;
    }
  }
  &__center {
    top: 100px;
    left: 100px;
    border-radius: 50%;
    background-color: @sunColor;
    width: 200px;
    height: 200px;
  }
}


@keyframes rotate-sun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.moon {
  .my-transition;
  overflow: hidden;
  position: absolute;
  transform-origin: top left;
  transform: translate(@displayWidth /2 - 150px - 400px, @displayHeight /2 - 150px - 400px) scale(0.75);
  &__inner {
    transform-origin: center center;
    animation-name: shake-moon;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .width-and-height(200px);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    &:after {
      position: absolute;
      .width-and-height(130px);
      border-radius: 50%;
      box-shadow: @sunColor 0 0 0 100px;
      content: '';
    }
  }
}



@keyframes shake-moon {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* animation */

#step1:target ~ .screen__abs {
  .perspective {
    transform: translate3d(@centerX, @centerY, @roadHeight * 5);
  }
  .sun {
    transform: translate(@displayWidth /2 - 150px - 160px, @displayHeight /2 - 150px - 160px) scale(0.5) ;
    &__bar:after {
      border-radius: 50%;
      border: 30px solid @sunColor;
    }
  }
  .arrow--visibility1 {
    opacity: 0;
  }
  .arrow--visibility2 {
    opacity: 1;
  }
}

#step2:target ~ .screen__abs  {
  .perspective {
    transform: translate3d(@centerX, @centerY, @roadHeight * 10);
  }
  .sky {
    background-color: @sunsetColor;
  }
  .sun {
    transform: translate(@displayWidth /2 - 150px,@displayHeight /2 - 150px) scale(0.75) ;
    &__bar:after {
      border: none;
    }
  }
  .arrow--visibility1 {
    opacity: 0;
  }
  .arrow--visibility3 {
    opacity: 1;
  }
}

#step3:target ~ .screen__abs {
  .perspective {
    transform: translate3d(@centerX, @centerY, @roadHeight * 15);
  }
  .sky {
    background-color: @nightColor;
  }
  .sun {
    transform: translate(@displayWidth /2 - 150px,@displayHeight /2 + 50px) scale(0.75) ;
    &__bar:after {
      border: none;
    }
    &__inner {
      animation-name: none;
    }
  }
  .moon {
    transform: translate(@displayWidth /2 - 150px - 200px, @displayHeight /2 - 150px - 200px) scale(0.75);
  }
  .arrow--visibility1 {
    opacity: 0;
  }
  .arrow--visibility4 {
    opacity: 1;
  }
}

#step4:target ~ .screen__abs {
  .perspective {
    transform: translate3d(@centerX, @centerY, @roadHeight * 20);
  }
  .sky {
    background-color: @nightColor;
  }
  .sun {
    transform: translate(@displayWidth /2 - 150px,@displayHeight /2 + 50px) scale(0.75) ;
    &__bar {
      border: none;
    }
  }
  .moon {
    transform: translate(@displayWidth /2 - 150px - 200px, @displayHeight /2 - 150px - 200px) scale(0.75);
  }
  .arrow--visibility1 {
    opacity: 0;
  }
}
