.width-and-height(@length){
  width: @length;
  height: @length;
}

.generate-road(@n, @i: 1) when (@i =< @n) {
  .road--pos@{i} {
    transform: translate3d(-@roadWidth/2, @groundPosition, -@roadHeight * (@i - 1)) rotateX(-90deg) rotateY(180deg);
  }
  .generate-road(@n, (@i + 1));
}

.generate-sun-bar(@n, @i: 1) when (@i =< @n) {
  .sun__bar--pos@{i} {
    transform: rotate((@i - 1) * 45deg);
  }
  .generate-sun-bar(@n, (@i + 1));
}

.my-transition(){
  transition: all 1000ms ease-out 0ms;
}